*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"slnt" 0;
}
/* Mobile Navigation */
a{
    text-decoration: none;
    /* padding: 10px; */
}
.Navigation-Bar{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.Menu-items{
    display: none;
    height:100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0px;
    background-color:hsl(36, 100%, 99%);
    transition: 0.5s;
    padding-top: 60px;
}
.menu{
    margin-top: 25px;
}
.Menu-items a{
    padding: 12px 8px 8px 12px;
    color: #140606;
    display: block;
    transition: 0.3s;
}
.closebtn{
    position: fixed;
    z-index: 1;
    top: 0;
    right:10px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.Hamburger{
    margin-top: 10px;
}

/* End of Mobile Navigation Bar */
@media screen and (min-width: 1024px) {
    /* Desktop Navigation */
    #Container{
        margin: auto;
        width: 80%;
    }
    .logo{
        padding-top: 15px;
    }
    .Menu-items{
        display: block;
        position: relative;
        padding-top: 0;
    }
    .menu{
      display: flex;
      justify-content:flex-end
     
      
    }
    .Hamburger{
        display: none;
    }
    .closebtn{
        display: none;
    }
    /* End of Desktop Navigation Bar */
}